<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="for_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->

                <!-- https://github.com/PickNikRobotics/topic_based_ros2_control/blob/main/doc/user.md -->
                <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                <param name="trigger_joint_command_threshold">0.001</param>
                <param name="sum_wrapped_joint_states">true</param>
            </hardware>
            <joint name="base_revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_revolute']}</param>
                </state_interface>
            </joint>
            <joint name="double_revolute_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['double_revolute_1']}</param>
                </state_interface>
            </joint>
            <joint name="double_spin">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['double_spin']}</param>
                </state_interface>
            </joint>
            <joint name="double_revolute_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['double_revolute_2']}</param>
                </state_interface>
            </joint>
            <joint name="middle_revolute">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle_revolute']}</param>
                </state_interface>
            </joint>
            <joint name="middle_spin">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle_spin']}</param>
                </state_interface>
            </joint>
            <joint name="end_revolute_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['end_revolute_1']}</param>
                </state_interface>
            </joint>
            <joint name="end_revolute_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['end_revolute_2']}</param>
                </state_interface>
            </joint>
            <joint name="effector_spin">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['effector_spin']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
